.breadcrumb {
	padding: 4.5rem 0;
	background-color: $blue-full;
	   .parking-title {
	   	font-family: $font-family-graphik-regular !important;
		  word-break: break-all;
		  font-size: 2rem;
		  color: $white;
		  font-weight: 400;
		  h1 {
		  	font-family: $font-family-graphik-semibold !important;
            margin-top: 0; 
		  }
		}

		.domain-seller {
			margin-top: 1.24rem; 
			display: flex;
			align-items: center;
			.avatar {
				.avatar-wrapper {

				}
			}
			.description {
				color: $white;
				margin-left: 1rem;
				font-size: 1rem;
			}
		}
}
.bread-domain-card {
	margin-top: -397px;
	.this__domain {
		background-color: $white;
	}

	@media only screen and (max-width: 600px) {
		margin-top: -120px;
	}
}