.checkout {
     // background: #6441A5;
     #msform {
            h3 {
                font-size: 2rem;
                letter-spacing: 0.5px;
                line-height: 2.5rem;
                font-family: $font-family-graphik-bold;
                margin-bottom: 0.5rem;
            }

            a {
                color: #179DBA;
                text-decoration: none;
            }

            p {
                margin-top: 0;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
            // position: relative;
            .order-summery-card {
                box-shadow: none !important;
                text-align: left;
                border: 1px solid #b6bfcc !important;
                 h4 {
                    font-size: 1.5rem;
                    letter-spacing: 0.5px;
                    line-height: 2.5rem;
                    font-family: $font-family-graphik-bold;
                    margin-bottom: 0.5rem;
                }

                .card-body {
                    .summery-items { 
                        margin-bottom: 10px;
                        font-size: 1.1rem;
                        .free {
                            color: $green;
                        }
                        strong {
                            font-family: $font-family-graphik-semibold;
                        }
                    }
                }
                .card-footer {
                    background: #EBFCF7;
                    padding: 1rem;
                    border-bottom-left-radius:10px !important; 
                    border-bottom-right-radius: 10px !important;
                }
            }
            .card {
                border: 0 solid rgba(0,0,0,0.125);
                border-radius: 0.5rem;
                text-align: left;
                box-shadow: 0px 0.125rem 0.25rem rgba(0,0,0,0.08),0px 0.25rem 1.5rem rgba(0,0,0,0.08);
                .card-body {
                    h3 {
                        font-size: 2rem;
                        letter-spacing: 0.5px;
                        line-height: 2.5rem;
                        font-family: $font-family-graphik-bold;
                        margin-bottom: 0.5rem;
                    }

                    a {
                        color: #179DBA;
                        text-decoration: none;
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-size: 1rem;
                    }
                    .lead {
                        padding: 1.25rem;
                        background: #F2F3F4;
                        letter-spacing: 0.35px;
                        font-size: 1rem;
                        border-radius: 0.5rem;
                    }

                    .form-control {
                        display: block;
                        border-radius: 0.25rem;
                        width: 100%;
                        margin-bottom: 1.124rem;
                        height: calc(1.5em + 2.5rem + 2px);
                        padding: 1.25rem 1rem;
                        padding-top: 1.25rem;
                        padding-bottom: 1.25rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #04294F;
                        outline: none;
                        background-color: #ffffff;
                        background-clip: padding-box;
                        border: 1px solid #8795AA;
                        border-radius: 0.5rem;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                        &::placeholder {
                            color: #8795AA;
                        }
                    }
                    .radio-button {
                        margin-bottom: 1rem;
                        .form-check {
                            padding-left: 0;
                            label {
                                cursor: pointer;
                                color: #00112C; 
                                padding: 12px 2rem;
                                box-shadow: inset 0 0 0 0.0625rem #8795AA;
                                border-radius: 0.5rem;
                                margin-right: 1rem;
                                transition: all .3s;
                            }
                        }
                    }
                }
            }

            .payment {
                h5 {
                    font-family: $font-family-graphik-regular !important;
                    strong {
                         font-family: $font-family-graphik-bold !important;
                    }
                }
                .accordion-button::after {
                    background-image: none;
                    content: '';
                    margin: 0;
                    width: auto;
                    display: none !important;
                    height: auto;
                }
                .payment-form {
                    label {
                         font-family: $font-family-graphik-semibold !important;
                         font-family: 1rem;
                    }
                    .form-control {
                        color: #00112c; 
                        font-size: 1em;
                        font-family: inherit;
                        display: block;
                        height: 46px;
                        background: #fff;
                        border: 1px solid #b9c4c9; 
                        border-radius: 6px;
                        padding: 5px 8px;
                        position: relative;
                        outline: none;
                        width: 100%;
                        transition: border .2s ease-out,box-shadow .2s ease-out;
                    }
                }
                .accordion-btn {
                    background: $light-green;
                    margin-top: 1rem;
                    display: block;
                    padding: 1rem !important;
                    color: $blue-full;
                    border-radius: 6px;
                    text-align: center;
                    margin-bottom: 1rem;
                    border: none;
                    font-family: $font-family-graphik-semibold !important;
                    font-size: 1rem;
                    &:hover {
                        box-shadow: 0 0,0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14);
                        color: $blue-full !important;
                    }
                }
                .addons {
                    display: inline-block;
                    padding: 0.125rem 0.25rem;
                    line-height: 1.5rem;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    font-size: 1rem;
                    border-radius: 4px;
                    background: #EBFCF7;
                    color: $green;
                    font-family: $font-family-graphik-bold;
                    margin-left: 0.75rem;
                }
            }
            margin-top: 30px;
            fieldset {
                background: white;
                border: 0 none;
                border-radius: 0px; 
                padding: 20px 0px;
                box-sizing: border-box;
                text-align: center;
                width: 100%;
                // margin: 0 10%;
                position: relative;
                &:not(:first-of-type) {
                    display: none;
                }
            }  
            .action-button {
                background: $light-green;
                margin-top: 1rem;  
                text-align: center;
                padding: 1rem !important;
                color: $blue-full;
                border-radius: 6px;
                text-align: center;
                margin-bottom: 1rem;
                border: none;
                font-family: $font-family-graphik-semibold !important;
                font-size: 1rem; 
                    &:hover {
                        box-shadow: 0 0 0 2px white, 0 0 0 3px #179DBA;
                    }
                    &:focus {
                        box-shadow: 0 0 0 2px white, 0 0 0 3px #179DBA;
                    }
            }
            .action-button-previous {
                width: 100px; 
                font-weight: bold;
                color: #000;
                background: #fff;
                border: 0 none; 
                cursor: pointer;
                padding: 10px 5px;
                margin: 10px 5px;
                border: none;
                &:hover {
                    border: none;
                }
                &:focus {
                    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
                }
            }
        } 
        #progressbar {
            margin-bottom: 50px;
            overflow: hidden;
            counter-reset: step;

            text-align: center;
            li {
                list-style-type: none;
                color: #000;
                text-transform: uppercase;
                font-size: 9px;
                width: 33.33%;
                float: left;
                position: relative;
                letter-spacing: 1px;
                span {
                    font-family: $font-family-graphik-bold;
                    font-size: 12px;
                }
                &:before {
                    content: counter(step);
                    counter-increment: step;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    display: block;
                    font-size: 12px;
                    font-family: $font-family-graphik-bold;
                    color: #333;
                    background: white;
                    border-radius: 50%;
                    margin: 0 auto 10px auto;
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: white;
                    position: absolute;
                    left: -50%;
                    top: 18px !important;
                    z-index: -1;
                }
                &:first-child {
                    &:after {
                        content: none;
                    }
                }
            }
            li.active {
                &:before {
                    background: #179DBA;
                    color: white;
                }
                &:after {
                    background: #179DBA;
                    color: white;
                }
            }
        }

}
